<!DOCTYPE html>
<html lang="en">

<head>
    <title>Feed</title>

    <%- include('./template/head'); %>
        <style>
            @media (min-width: 1200px) {
                .container,
                .container-lg,
                .container-md,
                .container-sm,
                .container-xl {
                    max-width: 600px !important;
                }
            }
            
            .fas.fa-hand-holding-heart {
                cursor: pointer;
            }
        </style>
</head>

<body>

    <div class="container pt-4">

        <h1>Posts</h1>
        <hr>

        <div class="single-post">
            <img src="https://dummyimage.com/600x400/dbdbdb/696969&text=InstagramLike" alt="">
            <div class="pt-2" style="font-size:22px">
                <i class="fas fa-hand-holding-heart" onclick="like('12o3128asdf')"></i> 12
                <span> | </span>
                <i class="fas fa-comments"></i> 2
            </div>
            <a href="/feed/single/1">
                <div class="pt-2">
                    <p style="font-weight: 100;color: #000;"><strong style="margin-right: 15px">Ali Dasmeh</strong> In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document.</p>
                    <small style="color: darkgray;font-weight: 100;">Posted at : 2021 Aug 4</small>
                </div>
            </a>
        </div>
        <!-- single-post -->
        <hr>

        <div class="single-post">
            <img src="https://dummyimage.com/600x400/dbdbdb/696969&text=InstagramLike" alt="">
            <div class="pt-2" style="font-size:22px">
                <i class="fas fa-hand-holding-heart" onclick="like('12o32328asdf')"></i> 5
                <span> | </span>
                <i class="fas fa-comments"></i> 12
            </div>
            <a href="/feed/single/2">
                <div class="pt-2">
                    <p style="font-weight: 100;color: #000;"><strong style="margin-right: 15px">Mohammad Reza Marvi</strong> In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document.</p>
                    <small style="color: darkgray;font-weight: 100;">Posted at : 2021 Aug 4</small>
                </div>
            </a>
        </div>
        <!-- single-post -->
        <hr>

    </div>

    <script>
        function like(postid) {
            alert("ALERT : " + postid)
        }
    </script>

</body>

</html>