<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include("./template/head") %>
</head>

<body>
    <div class="container">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>

        <ul>
            <li><a href="/auth/login">Login (Marvi)</a></li>
            <li><a href="/auth/signup">Signup (Marvi)</a></li>
            <hr>
            <li><a href="/feed">Posts Feed (Khalili)</a></li>
            <li><a href="/feed/single/1">Single Post (Salehi)</a></li>
            <hr>
            <li><a href="/post/new">New Post (Salehi)</a></li>
            <hr>
            <li><a href="/profile/">Profile (Kashani)</a></li>
        </ul>
    </div>
</body>

</html>