<!DOCTYPE html>
<html lang="en">

<head>
    <title>Single Post</title>

    <%- include('./template/head'); %>
        <style>
            @media (min-width: 1200px) {
                .container,
                .container-lg,
                .container-md,
                .container-sm,
                .container-xl {
                    max-width: 600px !important;
                }
            }
        </style>
</head>

<body>

    <div class="container pt-4">

        <div>
            <h1>New Post</h1>
            <form action="/post/imageupload" method="POST">
                <input type="file" name="postimage">
                <br><br>
                <button class="btn btn-success" type="submit">Next</button>
            </form>

        </div>

</body>

</html>