<!-- Start Footer -->
<footer class="footer bg-white">
    <div class="container">
        <div class=" d-flex justify-content-between">
            <div class="p-1">
                <a href="/feed">
                    <i class="fas fa-home text-muted"></i>
                </a>
            </div>
            <div class="p-1">
                <a href="/post/new">
                    <i class="far fa-plus-square text-muted"></i>
                </a>
            </div>
            <div class="p-1 d-flex align-items-center justify-content-center">
                <a href="/profile" class="d-flex align-items-center justify-content-center">
                    <img src="<%= userInfo.avatar %>" alt="Avatar" class="avatar2">
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->