<!-- Start Header -->
<nav class="header bg-white">
    <div class="container">
        <div class=" d-flex justify-content-between">
            <div class="py-2">
                <img src=" /images/logoInstagram.gif " width="20%">
                <sup class="text-danger">(Like.)</sup>
            </div>
            <div class="py-2 d-flex align-items-center">
                <a href="#">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- End Header -->